<h1>Posts</h1>

<form action="/posts" method="post">
  <input type="text" id="title" name="title" placeholder="I am a title" required/>
  <input type="text" id="content" name="content" placeholder="I am a post" required/>
  <input type="submit" id="submit" value="Submit"/>
</form>

@foreach (Post post in ViewBag.Posts)
{
  <br />

  <h5>@post.User.Name @post.TimePosted</h5>
  <h4>@post.Title</h4>
  <p>@post.Content</p>

  @if (post.Comments != null)
  {
    <h5>Comments:</h5>
    @foreach (Comment comment in post.Comments)
    {
      <div  class="comment">
        <h6>@comment.User.Name @comment.TimeCommented</h6>
        <p>@comment.CommentContent</p>
      </div>
    }
  } else {
    <h5>No comments yet!</h5>
  }

  <form action="/posts/comments" method="post">
    <input type="text" id="content" name="commentContent" placeholder="I am a comment" required/>
    <input type="submit" id="submit" value="Submit"/>
    <input type="hidden" id="postId" name="postId" value="@post.Id"/>
  </form>

  <br />
  <br />
}
